body{
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.general{


}

.button1{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(255, 165, 0, 0.62);
    border-radius: 20%/50%;
    border: 6px solid orange;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;

}
.button2{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(42, 131, 145, 0.75);
    border-radius: 20%/50%;
    border: 6px solid rgba(52, 169, 189, 0.76);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;

}
.button3{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(207, 60, 218, 0.63);
    border-radius: 20%/50%;
    border: 6px solid rgba(207, 60, 218, 0.76);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;

}
.button4{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(224, 50, 90, 0.55);
    border-radius: 20%/50%;
    border: 6px solid rgba(224, 50, 90, 0.76);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;

}