.a{
    background: #8a0000;
    height: 200px;
    width: 1100px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.acdef{
    display: flex;
    justify-content: center;
}

.bcde{
    display: flex;

}
.block {
    background: #00578d;
    height: 500px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

}

.b{
    background: #2c5b00;
    height: 250px;
    width: 900px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.c{
    background: #566e44;
    height: 250px;
    width: 300px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d{
    background: #263c70;
    height: 250px;
    width: 300px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e{
    background: #3d0d4d;
    height: 250px;
    width: 300px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f{
    background: rgba(112, 112, 0, 0.75);
    height: 500px;
    width: 200px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
