#header{
    background: #6f9d3f;
    box-sizing: border-box;
    font-size: 25px;
    height: 150px;
    width: 1000px;
    margin: 10px 10px 10px 10px;
}
.content{
    display: flex;

    }
#menu{
    background: #ff3ffb;
    box-sizing: border-box;
    font-size: 25px;
    height: 700px;
    width: 300px;
    margin: 10px 10px 10px 10px;

}
.post{
    background: #45a2c0;
    box-sizing: border-box;
    font-size: 25px;
    height: 345px;
    width: 680px;
    margin: 10px 10px 10px 10px;

}

#footer{
    background: #6f9d3f;
    box-sizing: border-box;
    font-size: 25px;
    height: 150px;
    width: 1000px;
    margin: 10px 10px 10px 10px;
