body{
    margin-top: 15px;
}

.title{
    box-sizing: border-box;
    background: #b40101;
    height: 50px;
    font-size: 40px;
    padding-left: 800px;
    color: white;


}
.lorem1{
    box-sizing: border-box;
    background: silver;
    height: 150px;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 15px;


}
.lorem2{
    box-sizing: border-box;
    background: #3b9dde;
    height: 150px;
    font-size: 30px;
    padding-top: 50px;


}
.greenBox{
    background: #829f65;
    height: 200px;
    width: 200px;
    font-size: 200px;

}
.blueBox{
    background: rgba(138, 82, 220, 0.8);
    height: 200px;
    width: 200px;
    font-size: 200px;
    border-radius: 13%;

}