body {
    background: cadetblue;
}


.container{
    display: flex;
    justify-content: space-around;
    padding: 400px;

}

card-menu:first-child{
    margin-top: 200px;
}
.card{
    box-sizing: border-box;
    height: 130px;
    width: 420px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 6px 0;

}.icon>i{
     width: 92px;
     height: 92px;
    font-size: 40px;
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .card-content>h3{
    color: #fda750;
     font-size: 25px;
     margin: 15px 0 10px 0;
 }
 .card-content>p{
     margin: 0px;
     font-size: 15px;
 }


