
/*_________________________________template 2.1_______________________________________________*/


.allBox{
    width: 600px;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.allBox2{
    box-sizing: border-box;
    border: 1px solid grey;
    width: 200px;
    height: 310px;
    font-size: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.a{
    font-size: 16px;
}
.b{
    font-size: 10px;
}
.d{
    padding: 5px;
}
.e{
    height: 150px;
}
.span2_1{
font-size: 13px;
}

/*_________________________________template 2.2_______________________________________________*/

.generalBox{
    display: flex;
box-sizing: border-box;
    flex-wrap: wrap;


}
.box{
    width: 200px;
    height: 310px;
    box-sizing: border-box;
    border: 1px solid dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5px;
    margin-top: 5px;
    padding: 5px;

}
.img{
    width: 100px;
}

/*__________________________________________template 3.1_________________________________________________________*/
.list{
display: flex;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkolivegreen;
    width: 150px;
    height: 200px;
}
.img{
    width: 100px;
}
.span{
    text-transform:uppercase;
}

