body{
    background: #724923;
    margin: 0;
}
.background{
background: grey;
}
.solid-borBox{
    border: 3px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}

.font{
    font-family: Tahoma;
    font-size: 50px;
    color: white;
}
/**********************************************************************/
.father-one {
    max-width: 1220px;
    margin: 0 auto;
    border: 4px solid #9b9b9b;
    padding: 10px;
}

.son-one {
    min-height: 150px;
    width: 100%;
}
.son-two {
    min-height: 530px;
    width: 70%;

}
.son-three {
    min-height: 530px;
    width: 30%;
}

@media screen and (min-width: 320px) and (max-width: 576px){

    .father-one {
        max-width: 500px;
        margin: 0 auto;
        border: 4px solid #9b9b9b;
        padding: 10px;
    }


    .son-one{
        min-height: 100px;
        width: 100%;
    }
}