.solid{
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid #6e6e6e;
}


body {
    background: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-size: 50px;
    font-family: Tahoma;
    color: white;
}


.father {
    width: 70%;
    height: 410px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid #6e6e6e;
    background: white;

}

.a {
    width: 100%;
    height: 100px;
    background: grey;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;

}

.aa{
    display: flex;

}

.b {
    width: 80%;
    height: 300px;
    /*background: grey;*/
    /*border: 3px solid #ffffff;*/
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;


}

.b1 {
    width: 100%;
    height: 120px;
    background: grey;
    border-radius: 10px;
    box-sizing: border-box;
}

.b2 {

    width: 33.3%;
    height: 165px;
    background: grey;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;

}


.c {
    width: 20%;
    height: 300px;
    background: grey;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;

}

/**************************************************************/
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background: #6f8853;
    }

    .father {
        width: 70%;
        height: 850px;
        margin: 0 auto;
        border-radius: 10px;
        box-sizing: border-box;
        border: 3px solid #6e6e6e;
        background: #e3e3e3;

    }


    .a {
        height: 120px;
        margin-top: 1%;
    }

    .aa {
        display: flex;
        flex-direction: column;
    }

    .c {

        margin-top: 25%;
        width: 100%;
        height: 150px;
        background: grey;
        border: 3px solid #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .b {
        margin-top: 10%;
        width: 100%;
        height: 300px;
        background: grey;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    .b1 {
        width: 100%;
        height: 250px;
        background: grey;

        border-radius: 10px;
        box-sizing: border-box;
    }
    .b2 {
        margin-top: 12%;
        margin-left: 10%;
        width: 20%;
        height: 100px;
        background: grey;
        border: 3px solid #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
    }

}
