body{
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.general{


}

.button1{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(255, 165, 0, 0.62);
    border-radius: 20%/50%;
    border: 6px solid orange;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;

}
.button1:hover{
    border: 6px solid rgb(162, 106, 0);
    color: rgb(255, 212, 70);
}

.button2 {
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(42, 131, 145, 0.75);
    border-radius: 20%/50%;
    border: 6px solid rgba(52, 169, 189, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Calibri;
}
.button2:hover{
    border: 6px solid rgba(31, 109, 128, 0.76);
    color: rgba(44, 217, 245, 0.76);
}

.button3 {
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(207, 60, 218, 0.63);
    border-radius: 20%/50%;
    border: 6px solid rgba(207, 60, 218, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Calibri;
}
.button3:hover{
    border: 6px solid rgba(161, 11, 123, 0.55);
    color: rgba(244, 0, 255, 0.7);
}


.button4{
    width: 350px;
    height: 110px;
    margin: 50px;
    color: rgba(224, 50, 90, 0.55);
    border-radius: 20%/50%;
    border: 6px solid rgba(224, 50, 90, 0.76);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 35px;
    font-family: Calibri;
}
.button4:hover{
    border: 6px solid rgba(224, 50, 90, 0.37);
    color: rgba(255, 0, 0, 0.55);
}
.lag{
    margin-right: 50px;
}